/* layout.css */

/* ===[ begin ]=== */

/*
  Title:                   Basic Layout Design Style
  Author:                  Jean-François Gagnon
  Influenced By:           Timur Ridjanovic
  Created:                 2006-09-03
  Updated:                 2014-12-17
*/

  .whitebox {
    color: #000000;
    background: #FF3399;
    /*padding: 4px;*/
    padding-top: 10px;
    padding-bottom: 20px;
    border-top-left-radius: 50px 50px;
    border-bottom-right-radius: 50px 50px;
    border-top-right-radius: 50px 50px;
    border-bottom-left-radius: 50px 50px;
    text-align: left;

  }
	
  footer { 
    font-family: arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    /*color: #ffffff;*/
    color: #FF3399;
    background: #663117;
    padding: 50px;
    border-top: 2px solid #999999;
  }

  #scrollpane {
    width: 1000px;
    height: 800px;
    overflow: auto;
    border: solid 1px black;
    background-color: black;
  }
    		
/* ===[ end ]=== */