/* menu.css */

/* ===[ begin ]=== */

/*
  Title:                  Asteroids of Galaxy SiO-2109
  Author:                 Jean-François Gagnon
  Inspired By: 			  A game from Timur Radjanovitch
  Created:                2014-11-22
  Updated:                2014-12-17
*/

/* ===[ horizontal menu bar with menus and menu items ]=== */

  nav {
    width: 1000px;
    height: 50px;
    font-weight: bold;
    color: #99FF00;
    /*background-color: #663117;*/
    background-color: #000000;
    border-top: 2px solid #99FF00;
  }

  nav ul {
    margin: 0px; 
    padding: 0px;
  }

  nav ul li {
    display: inline; 
    padding: 15px;
    height: 30px; 
    float: left; 
    list-style: none;
    margin-left: 15px;
    position: relative;
  }

  nav ul li:hover {
    color: #FFFF00;
   
  }

  nav li ul { 
    margin: 0px;
    padding-top: 8px;
    display: none;
    position: absolute;
    left: 0px;
    top: 34px;
    font-size: 14px;
    /*color: #d9ece2;*/
    color: #000000;
    /*background-color: #663117;*/
    background-color: #FFFFFF;   
  } 

  nav li:hover ul {
    display: block;
    width: 200px;
  }

  nav li li {
    padding: 0px;
    color: #CCFF00;
    list-style: none;
    display: list-item;
  }

  nav li li a:link {
    text-decoration: none;
    font-weight: bold;
    /*color: #e6ffc8;*/
    color: #000000;
  }

  nav li li a:visited {
    text-decoration: none;
    font-weight: bold;
    /*color: #f2e1fb;*/
    color: #000000;
  }

  nav li li a:hover {
    text-decoration: none;
    /*color: #663117;*/
    color: #000000;
    background: #CCFF00;
  }

  nav li li button {
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    background-color: #99FF00;
  }

  nav li li button:hover {
    background-color: #FFFF00;
  }

/* ===[ end ]=== */

